<%= link_to "Capture Prices", prices_path, class: "btn btn-success float-right rounded-none m-4 text-white font-weight-bold clickable", method: :post %>
<h2 class="m-4 text-info font-weight-bold">Latest prices</h2>

<div class="row">
  <div class="col-lg-4 offset-lg-2">
    <div class="bg-white shadow">
      <div class="pl-4 d-flex align-items-center">
        <%= image_tag "bitcoin.png", class: "main-logo my-3" %>
        <h3 class="font-weight-bold text-primary ml-4">Bitcoin</h3>
      </div>

      <table>
        <% @bitcoin_latest.sort.each do |key, value| %>
          <tr>
            <td><p class="px-4 font-weight-bold"><%= key.titleize %></p></td>

            <td><p class="px-4">
              <% if key.include?("time") %>
                <%= Time.zone.parse(value).strftime("%d %b %Y, %-l:%M:%S %p") %>
              <% else %>
                <%= value %>
              <% end %>
            </p></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bg-white shadow">
      <div class="pl-4 d-flex align-items-center">
        <%= image_tag "ethereum.png", class: "main-logo my-3" %>
        <h4 class="font-weight-bold text-primary ml-4">Ethereum</h4>
      </div>

      <table>
        <% @ethereum_latest.sort.each do |key, value| %>
          <tr>
            <td><p class="px-4 font-weight-bold"><%= key.titleize %></p></td>

            <td><p class="px-4">
              <% if key.include?("time") %>
                <%= Time.zone.parse(value).strftime("%d %b %Y, %-l:%M:%S %p") %>
              <% else %>
                <%= value %>
              <% end %>
            </p></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>